EXPO_PUBLIC_SUPABASE_URL=https://aygyatnqelfelnhxaqbj.supabase.co
EXPO_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImF5Z3lhdG5xZWxmZWxuaHhhcWJqIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODY5MDQwOTQsImV4cCI6MjEwMjQ4MDA5NH0.VVPd3IfgMR19HCCT-HNRlF9mMsSjHmcWqeetquXXbfc
